<!DOCTYPE html>
<html>
	<head>
		{{> header}}	
	</head>
	<body>
		<section>
			<p> Hello world my name is : {{name}}</p>
			<p>did you know that I am a {{job}}</p>
			{{>footer}}		
		</section>
	</body>
</html>